.App {
  text-align: center;
  padding-top: 16px;
  background-color: #333;
  height: 100vh;

  .app_form {
    font-weight: 800;
    color: rgb(213, 117, 27);

    .app_form_input {
      margin-right: 16px;
    }

  }

  .app_showInfo {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;

    .app_text {
      text-align: left;
      margin-left: 100px;
      margin-bottom: 100px;
      color: aqua;
      align-self: center;
    }

    .app_img {
      img {
        border-radius: 50%;
      }
    }
  }

}